{% extends './base2/base.html' %}
{% load static %}}
{% block content %}
    
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="2AW19lNtGYZy1znb9M09MYprrYwcfKuaLOLod6O9">

    <title>نظام تسيير الملفات و الأشيف</title>
    <link rel="icon" type="image/png" sizes="32x32" href="http://10.100.40.154/images/balance.png">

    <!-- Scripts -->
    <link rel="preload" as="style" href="http://10.100.40.154/build/assets/app-525d8dfc.css" /><link rel="modulepreload" href="http://10.100.40.154/build/assets/app-8f9ca40e.js" /><link rel="modulepreload" href="http://10.100.40.154/build/assets/_commonjsHelpers-725317a4.js" /><link rel="stylesheet" href="http://10.100.40.154/build/assets/app-525d8dfc.css" /><script type="module" src="http://10.100.40.154/build/assets/app-8f9ca40e.js"></script></head>
<body class="text-gray-900 antialiased styled-scrollbar">
<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
    <img src=http://10.100.40.154/images/justice.png alt="logo" class="w-44">
    <h1 class="font-extrabold text-2xl">
        <p class="flex flex-col justify-center items-center ms-2">
            <span class="inline-flex">S. A. D. A</span>
            <small class="text-sm underline underline-offset-4">نظام تسيير الملفات و الأرشيف</small>
        </p>
    </h1>

    <div
        class="w-full sm:max-w-md mt-2 mb-32 px-6 py-4 bg-white shadow-xl overflow-hidden sm:rounded-lg border-t-8 border-t-orange-800">
        <!-- Session Status -->
    
    
    <form method="POST" action="http://10.100.40.154/login" class="pb-3">
        <input type="hidden" name="_token" value="2AW19lNtGYZy1znb9M09MYprrYwcfKuaLOLod6O9" autocomplete="off">        
        <!-- Email Address -->
        <div>
            <label class="block font-medium text-md text-black text-lg font-extrabold text-orange-950" for="email">
    اسم المستخدم
</label>
            <input  class="border-black focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm  block mt-1 w-full focus:ring-orange-700 focus:border-orange-800 border-orange-700" id="email" name="email" required="required" autofocus="autofocus" autocomplete="email">

        </div>

        <!-- Password -->
        <div class="mt-4">
            <label class="block font-medium text-md text-black text-lg font-extrabold text-orange-950" for="password">
    كلمة السر
</label>
            <input  class="border-black focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm  block mt-1 w-full focus:ring-orange-700 focus:border-orange-800 border-orange-700" id="password" type="password" name="password" required="required" autocomplete="current-password">

        </div>

        <div class="flex items-center justify-end mt-4">
            <button type="submit" class="inline-flex items-center px-2 py-1 bg-blue-700 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 mr-3 bg-orange-700 dark:bg-orange-700 text-orange-200 dark:text-orange-200 hover:bg-orange-900 hover:text-orange-100 active:bg-orange-900 active:text-orange-100 active:ring-orange-800 focus:ring-orange-800 focus:bg-orange-800  shadow-lg">
    تسجيل الدخول
</button>
        </div>
    </form>
    </div>

    <footer class="px-8 pt-6 w-full fixed bottom-3">
        <div class="flex flex-col items-center justify-center py-2 bg-orange-800 rounded-lg shadow-2xl ">
            <p class="text-center italic text-white text-[0.72rem] 2xl:text-[1rem] font-bold px-2 leading-loose">
                بفضل الله، نجح فريق العمل المشترك بين منخرطي أوراش <span
                    class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">الجلطي أحمد</span>، <span
                    class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">معاش حمزة</span>، <span
                    class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">جبوري علي</span> و <span
                    class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">الرميش رضى</span>.
                والإداريين
                بالمحكمة الإبتدائية بركان، الأستاد <span class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">يونس البدراوي</span>
                ،الأستاد <span class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">يونس إيكو</span>
                والأستاد <span class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">إسماعيل أعربي</span>
                والأستاد <span class="bg-orange-100 text-orange-900 rounded-full px-1 pb-1">فؤاد سراجي</span>.<br>
                في إنجاح تطوير هذا التطبيق الذي سيساهم
                بشكل كبير في تسهيل العمليات وتحسين الأداء في المحكمة الإبتدائية بركان.
            </p>
        </div>
    </footer>
</div>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const errors = false;
        const Toast = window.Swal.mixin({
            toast: true,
            position: 'top-right',
            showConfirmButton: false,
            timer: 3000,
            width: 400,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
        console.log(errors)
        if (errors) {
            Toast.fire({
                icon: 'error',
                title: 'حدث خطأ ما، الرجاء المحاولة مرة أخرى'
            })
        }
    })
</script>
</body>
</html>
{% endblock %}




