{% extends '../base/base.html' %}
{% load static %}




{% block content %}
<div class="panel-header" >
    <h2 style=" text-align: center; font-size: 35px; font-family: 'Cairo' !important; color: #000000; font-weight: bold; text-transform: uppercase;">الاحصائيات</h2><br>
    </div>
<div class="container load">
    <div class="row">
      <div class="col-md-6">
        <!--date fadmin start picker-->
          <div class="container">
            <div class="row">
              <h2 class="py-2"> <h2>
            </div>
            <div class="row">
                <h3>تاريخ البداية  <i class="fa fa-calendar" style="font-size:24px"></i>:</h3>
                <input type="text" class="form-control datedebut datepicker">
            </div>
            <br>
          </div>
      </div>
      <!---->
      <!--date fadmin start picker-->
      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <h2 class="py-2"> </h2>
          </div>
          <div class="row">
              <h3>تاريخ النهاية  <i class="fa fa-calendar" style="font-size:24px"></i>:</h3>
              <input type="text" class="form-control datefin datepicker">
          </div>
          
          <br> 
          <div class="row">
            <!--search closet-->
            <div class="col-md-6">
              <button class="btn btn-success ajax-call">البحث عن الاحصائيات <i class="fa fa-search"></i></button>
            </div>
            <!-- end of search closet-->
          </div> 
        </div>
      </div>
      <!---->
      
      
    </div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Zone pour les statistiques -->
            <div class="card">
                <div class="card-body">
                    <!-- Ajoutez ici vos graphiques avec Chart.js -->
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Zone pour les chartes -->
            <div class="card">
                <div class="card-body">
                    <!-- Ajoutez ici vos chartes -->
                    <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Script pour initialiser un exemple de graphique avec Chart.js -->
<script>
  function chart1(sayr,osra,chikayaadiya,chikayamo){
  var ctx = document.getElementById('myChart').getContext('2d');
  var existingChart = Chart.getChart("myChart");
  if (existingChart) {
    existingChart.destroy();
  } 
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['حوادث السير', 'اهمال اسرة', 'شكاية معتقل', 'شكاية عادية'],
          datasets: [{
              label: 'عدد المحاضر',
              data: [sayr , osra, chikayaadiya, chikayamo],
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  }
  function chart2(sayr,osra,chikayaadiya,chikayamo){
  const xValues = ['حوادث السير', 'اهمال اسرة', 'شكاية معتقل', 'شكاية عادية'];
  const yValues = [sayr , osra, chikayaadiya, chikayamo];
  const barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145"
  ];
  var existingChart = Chart.getChart("myChart2");
  if (existingChart) {
    existingChart.destroy();
  } 
  new Chart("myChart2", {
    type: "pie",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      title: {
        display: true,
        text: "World Wide Wine Production 2018"
      }
    }
  });
}
  </script>

  <script>
    $(".ajax-call").click(function(){
        var datedebut = $(".datedebut").val();
        var datefin = $(".datefin").val();
        $.ajax({
            url : ("statistics"),
            type: 'POST', 
            data : {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'datedebut' : datedebut,
              'datefin' : datefin,
            },
            dataType : 'json',
            success: function(dataajax){
              chart1(dataajax.sayr,dataajax.osra,dataajax.chikayamo,dataajax.chikayaadiya)
              chart2(dataajax.sayr,dataajax.osra,dataajax.chikayamo,dataajax.chikayaadiya)
              },
            error: function(xhr, status, error) { // Error handling
            console.log("Error: " + error);
            console.log("Status: " + status);
            console.dir(xhr);
            }
        })
    });
  </script>

  <script>
    $(window).on("load",function(){
        $.ajax({
            url : ("statistics"),
            type: 'POST', 
            data : {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'source' : "load"
            },
            dataType : 'json',
            success: function(dataajax){
              chart1(dataajax.sayr,dataajax.osra,dataajax.chikayamo,dataajax.chikayaadiya)
              chart2(dataajax.sayr,dataajax.osra,dataajax.chikayamo,dataajax.chikayaadiya)
              },
            error: function(xhr, status, error) { // Error handling
            console.log("Error: " + error);
            console.log("Status: " + status);
            console.dir(xhr);
            }
        })
    });
  </script>
    

{% endblock %}