{% extends '../base/base.html' %}
{% load static %}

{% block content %}
  <!--modal filtring search-->
  <div class="container" style="padding:50px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--date fadmin start picker-->
          <div class="container-fluid">
            <div class="row">
              <h2 class="py-2"> <h2>
            </div>
            <div class="row">
                <h3 class="arabicfont">تاريخ المحضر  <i class="fa fa-calendar" style="font-size:24px color:green;"></i>:</h3>
                <input type="text" class="form-control datepicker date_rapp">
            </div>
            <br>
            <div class="row">
                <h3 class="arabicfont">نوع المحضر <i class="fa fa-file" style="font-size:24px"></i>:</h3>
                <select name="trapp" class="form-control type_rapp">
                    {% for t in data0 %}
                    <option value="{{t.nom_typerapp}}" data-value="{{ t.nom_typerapp }}">{{ t.nom_typerapp }}</option>
                    {% endfor %}
                </select>           
            </div>  
          </div>
      </div>
      <!---->
      <!--date fadmin start picker-->
      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <h2 class="py-2"> </h2>
          </div>
          <div class="row">
            <h3 class="arabicfont">رقم الشكاية  <i class="fa fa-file" style="font-size:24px"></i>:</h3>
            <input type="text" class="form-control num_plaint ajax-plaint form-text">
          </div>
          <br> 
          <div class="row">
            <!--search closet-->
            <h3 class="arabicfont">رقم محضر النيابة العامة:  <i class="fa fa-file" style="font-size:24px"></i>:</h3>
              <input type="text" class="form-control num_rapp ajax-rapp form-text">
            <!-- end of search closet-->
          </div> 
        </div>
      </div>
      <!---->
    </div>  
  </div>
</div>         
<hr>  

<!---->
  <div class="main-content">
    <div class="row">
      <div class="col col-md-12">
      </div>
      <div class="col col-md-12" style=" text-align: right!important; float: right;">
         
      </div>
    </div>   


   
<table id="files_list" class="table table-striped dt-responsive" style="width:100%">
            <thead class="thead_dark">
                <tr>
                    <th class="th_text arabicfont">تاريخ التوصل</th>
                    <th class="th_text arabicfont">رقم الارسال</th>
                    <th class="th_text arabicfont">رقم المحضر الضابطة القضائية</th>
                    <th class="th_text arabicfont">رقم محضر النيابة العامة</th>
                    <th class="th_text arabicfont">رقم شكاية النيابة العامة</th> 
                    <th class="th_text arabicfont">ملاحظات</th>
                </tr>
            </thead>
            <tbody id="pj">
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
  </table>
  </div>
  <div data-validate-ajax1-url="{% url 'cherch' %}"></div>

  <script>
    $(".ajax-plaint").keyup(function(){
        var daterapp = $(".date_rapp").val();
        var dateenre = $(".date_enre").val();
        var typerapp = $(".type_rapp option:selected").val();
        var numrapp = $(".num_rapp").val();
        var numplaint = $(".num_plaint").val();
        var form = $(this).closest("form");        
        $.ajax({
            url : ("rech"),
            type: 'POST', 
            data : {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'daterapp' : daterapp,
                'dateenre' : dateenre,
                'typerapp' : typerapp,
                'numrapp' : numrapp,
                'numplaint' : numplaint,
                'typesearch' : "numplaint",
            },
            dataType : 'json',
            success: function(dataajax){
              console.log(dataajax.item)
              var select = $("#pj");
                        select.empty(); // Videz les options existantes
                        dataajax.item.forEach(function(item) {
                        select.append('<tr>');
                        select.append('<td>' + item.date_arr + '</td>');
                        select.append('<td>' + item.num_env + '</td>');
                        select.append('<td>' + item.num_rapp_pj + '</td>');
                        select.append('<td>' + item.num_rapp_pp + '</td>');
                        select.append('<td>' + item.num_plaint + '</td>');
                        select.append('<td>' + item.note + '</td>');
                        select.append('</tr>');                  
                    });
                    
            },
            error: function(xhr, status, error) { // Error handling
            console.log("Error: " + error);
            console.log("Status: " + status);
            console.dir(xhr);
            }
        })
    });
</script>
  <script>
    $(".ajax-rapp").change(function(){
    var daterapp = $(".date_rapp").val();
    var dateenre = $(".date_enre").val();
    var typerapp = $(".type_rapp :selected").text();
    var numrapp = $(".num_rapp").val();
    var numplaint = $(".num_plaint").val();
    var form = $(this).closest("form");    
    $.ajax({
        url : ("rech"),
        type: 'POST', 
        data : {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'daterapp' : daterapp,
            'dateenre' : dateenre,
            'typerapp' : typerapp,
            'numrapp' : numrapp,
            'numplaint' : numplaint,
            'typesearch' : "numrapp",
        },
        dataType : 'json',
        success: function(dataajax){
          console.log(dataajax.item)
          var select = $("#pj");
                    select.empty(); // Videz les options existantes
                    dataajax.item.forEach(function(item) {
                    select.append('<tr>');
                    select.append('<td>' + item.date_arr + '</td>');
                    select.append('<td>' + item.num_env + '</td>');
                    select.append('<td>' + item.num_rapp_pj + '</td>');
                    select.append('<td>' + item.num_rapp_pp + '</td>');
                    select.append('<td>' + item.num_plaint + '</td>');
                    select.append('<td>' + item.note + '</td>');
                    select.append('</tr>');                  
                });
                
        },
        error: function(xhr, status, error) { // Error handling
        console.log("Error: " + error);
        console.log("Status: " + status);
        console.dir(xhr);
        }
    })
});
</script>

{% endblock %}