{% extends '../base/base.html' %}
{% load static %}

{% block content %}

<!--modal filtring search-->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--date fadmin start picker-->
          <div class="container">
            <div class="row">
              <h2 class="py-2"> <h2>
            </div>
            <div class="row">
                <h3>تاريخ البداية  <i class="fa fa-calendar" style="font-size:24px"></i>:</h3>
                <input type="text" class="datedebut">
            </div>
            <br>
            <div class="row">
                <h3>نوع المحضر <i class="fa fa-file" style="font-size:24px"></i>:</h3>
                <select name="typerapp">
                    {% for t in data0 %}
                    <option value="{{t.nom_typerapp}}">{{ t.nom_typerapp }}</option>
                    {% endfor %}
                </select>           
            </div>  
          </div>
      </div>
      <!---->
      <!--date fadmin start picker-->
      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <h2 class="py-2"> </h2>
          </div>
          <div class="row">
              <h3>تاريخ النهاية  <i class="fa fa-calendar" style="font-size:24px"></i>:</h3>
              <input type="text" class="datefin">
          </div>
          <br> 
          <div class="row">
            <!--search closet-->
            <div>
              <button class="btn btn-success ajax-call">البحث عن الملفات <i class="fa fa-search"></i></button>
            </div>
            <!-- end of search closet-->
          </div> 
        </div>
      </div>
      <!---->
      <div class="row">
        <div class="col-md">
          <button class="btn btn-danger pdfbutton">Download Pdf</button>
        </div>
      </div>
    </div>
        
  </div>         
  <hr>         
<!---->
   


<!--Table closet-->
<div class="container" id="PDFcontent">
  <table class="table table-striped dt-responsive" style="width:100%">
    <thead class="thead_dark">
        <tr>
            <th class="th_text arabicfont">تاريخ التوصل</th>
            <th class="th_text arabicfont">رقم الارسال</th>
            <th class="th_text arabicfont">رقم المحضر الضابطة القضائية</th>
            <th class="th_text arabicfont">رقم محضر النيابة العامة</th>
            <th class="th_text arabicfont">رقم شكاية النيابة العامة</th> 
            <th class="th_text arabicfont">ملاحظات</th>
        </tr>
    </thead>
    <tbody id="trapp">
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
  </table>
</div>
  <!--paginator-->
<nav aria-label="...">
  <ul class="pagination" style="margin-right: 700px;">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">السابق</a>
    </li>
    {% endif %}
    {% for p in page_obj.paginator %}
    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي</a>
    </li>
    {% endif %}
  </ul>
</nav>
<!---->
</div>
<!--Table closet-->

<script>
  $(".pdfbutton").click(function(){
      var datedebut = $(".datedebut").val();
      var datefin = $(".datefin").val();
      var typerapp = $(".type_rapp option:selected").val();
      var form = $(this).closest("form");
      console.log(datedebut+"--"+datefin)
      $.ajax({
          url : ("pdfrapp"),
          type: 'POST', 
          data : {
             csrfmiddlewaretoken: '{{ csrf_token }}',
            'datedebut' : datedebut,
            'datefin' : datefin,
            'typerapp' : typerapp
          },
          dataType : 'json',
          success: function(response){ 
            console.log(response)           
            },
          error: function(xhr, status, error) { // Error handling
          console.log("Error: " + error);
          console.log("Status: " + status);
          console.dir(xhr);
          }
      })
  });
</script>

<script>
  $(".ajax-call").click(function(){
      var datedebut = $(".datedebut").val();
      var datefin = $(".datefin").val();
      var typerapp = $(".type_rapp option:selected").val();
      var form = $(this).closest("form");
      console.log(datedebut+"--"+datefin)
      $.ajax({
          url : ("rechercherapp"),
          type: 'POST', 
          data : {
             csrfmiddlewaretoken: '{{ csrf_token }}',
            'datedebut' : datedebut,
            'datefin' : datefin,
            'typerapp' : typerapp
          },
          dataType : 'json',
          success: function(dataajax){
              console.log(dataajax.item)
              var select = $("#trapp");
                        select.empty(); // Videz les options existantes
                        dataajax.item.forEach(function(item) {
                        select.append('<tr>');
                        select.append('<td>' + item.date_arr + '</td>');
                        select.append('<td>' + item.num_env + '</td>');
                        select.append('<td>' + item.num_rapp_pj + '</td>');
                        select.append('<td>' + item.num_rapp_pp + '</td>');
                        select.append('<td>' + item.num_plaint + '</td>');
                        select.append('<td>' + item.note + '</td>');
                        select.append('</tr>');                  
                    });            
            },
          error: function(xhr, status, error) { // Error handling
          console.log("Error: " + error);
          console.log("Status: " + status);
          console.dir(xhr);
          }
      })
  });
</script>
{% endblock %}
