{% load static %}
{% load crispy_forms_tags %} 
<!DOCTYPE html> 
<html> 
  
<head> 
  
    <!-- Including the bootstrap CDN -->
    <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
    </script> 
    <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> 
    </script> 
    <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> 
    </script> 
    <!--   External CSS  -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
 <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
 <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"> </link>
 <link rel="stylesheet" href="{% static '/css/style_datatable.css' %}">
 <link rel="stylesheet" href="{% static '/css/css.css' %}">
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
 <style>
    body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background: url("{% static 'images/background.png'%}") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz--background-size:cover;
  -o--background-size:cover;
  background-size:auto;
  background-color: rgba(231,172,70,0.1);
  }
    nav {
    background: url("{% static 'images/nav2.png'%}") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz--background-size:cover;
    -o--background-size:cover;
    background-size: cover;
    background-color: white;
    }
 </style>

</head> 

  
<body class="body">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="{% static '/js/js_datatable.js' %}"></script>
    <script src="{% static '/js/js.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


  
    <!-- Creating a navigation bar using the
         .navbar class of bootstrap -->

         <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
               <div class="topnav-right">
                 <img src="{% static 'images/logo.png' %}" class="logo" alt="My image" style="margin-right:50px;">
               </div>
              <div class="navbar" data-toggle="modal" data-target="#exampleModal">
                <a href="#" class="active"><i class="fa fa-plus"></i> اضافة محضر </a>
              </div>
              <div class="navbar">
                <a href="{% url 'home' %}"><i class="fa fa-search"></i> البحث عن محضر </a>
              </div>
              <div class="navbar">
                <a href="{% url 'recherche' %}"><i class="fa fa-save"></i> تحميل السجل </a>
              </div>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 550px;">
                مرحبا {{ user.username }} 
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" >
                <div class="dropdown">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-value="">الملف الشخصي</a>
                    <a class="dropdown-item" href="#" data-value="">الاعدادات</a>
                    <a class="dropdown-item" href="{% url 'logout' %}" data-value="">تسجيل الخروج</a>
                    </div>
                </div>
              </div>
            </div>
          </nav>
    

    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">اضافة محضر</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
               <form action = "{% url 'submittrapp' %}" method = "post" data-validate-ajax-url = "{% url 'ajax_pj' %}">
                <div class="container">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col-12">
                            {{ form.num_env|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.num_rapp_pp|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.num_rapp_pj|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.num_plaint|as_crispy_field }}
                        </div>
                        <div class="col-6">  
                            {{ form.note|as_crispy_field }}
                        </div>
                    </div>
                    
                    
                        <div class="row">
                            <div class="col-6">
                                <h6 class="pj-name">صنف الضابطة القضائية</h6>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    البحث
                                    </button>
                                    {% if data2 %}
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for d in data2 %}
                                    <a class="dropdown-item ajax-call" href="#" data-value="{{ d.name_pj }}">{{ d.name_pj }}</a>
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" id="type_pj" name="type_pj">
                                </select>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form.type_rapp|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div>
                    <button class="btn btn-success" type="submit" value="Submit">حفظ المعلومات</button>
                    </div>
                </div>
                </form>           
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>
        </div>
        </div>
    </div>



    <script>
        $(".ajax-call").click(function(){
            event.preventDefault(); // Prevent the default action of the link
            //var a = $("#ajax-data").val();
            var form = $(this).closest("form");
            var a = $(this).attr('data-value');
            console.log(a);
            $.ajax({
                url : form.attr("data-validate-ajax-url"),
                type: 'POST', 
                data : {
                    'ajaxdata' : a
                },
                dataType : 'json',
                success: function(dataajax){
                    var select = $("#type_pj");
                    select.empty(); // Videz les options existantes
                    dataajax.list_pj.forEach(function(item) {
                    select.append('<option>' + item.name + '</option>');
                });
                },
                error: function(xhr, status, error) { // Error handling
                console.log("Error: " + error);
                console.log("Status: " + status);
                console.dir(xhr);
                }
            })
        });
    </script>
    <script>
        $(function(){
          $('.datepicker').datepicker();
        });
    </script>
    
    {% block content %}
    {% endblock %}
</body> 
  
</html> 